body {
  background-color: lightpink;
}

h1 {
  color: #FF2677;
  margin-left: 20px;
}

* {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-indent: 20px;
}

a:link {
  color: #ffea91;
}

a:visited {
  color: #00afaf; 
}

a:hover {
  color: #ff0071; 
}

a:active {
  color: #8cef26;
}
