body {
  background-color: lightpink;
}

h1 {
  color: #FF2677;
  margin-left: 20px;
}

h2 {
  color: #ba26ff;
  margin-left: 20px;
}

h3 {
  color: #262bff;
  margin-left: 20px;
}

* {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-indent: 100px;
}

a:link {
  color: #ffc637;
}

a:visited {
  color: #209e9e; 
}

a:hover {
  color: #ff0071; 
}

a:active {
  color: #8cef26;
}
